@{
    ViewBag.Title = "Simple SPA Demo using ASP.Net MVC, Web Api, Entity Framework Code First,AngularJS and Twitter Bootstrap";
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

<div class="hero-unit">
    <h1>Simple SPA Demo</h1>
    <p class="lead">Simple SPA Demo using ASP.Net MVC, Web Api,<br /> Entity Framework Code First,<br />AngularJS &amp; Twitter Bootstrap</p>
    <p>
        <a href="/SPADemo" class="btn btn-primary btn-large">Launch Simple SPA Demo &raquo;</a>        
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2>About Simple SPA Demo</h2>
        <p>This application is an simple demo for Single Page Application(SPA) showing basic CURD operations on single entity object <span class="label label-primary">Customer</span> built using ASP.NET MVC, WebAPI, Entity Framework Code First, AngularJS  and UI based on Twitter Bootstrap.</p>
        <p>&nbsp;</p>
        <p class="text-center">
            <a href="http://pbdesk.github.io/Simple.SPA.Demo/" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>View Demo on Github</b></a>
            <a href="https://github.com/pbdesk/Simple.SPA.Demo" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>View Code on Github</b></a>
        </p>

        <div class="panel-group" id="AboutVersionAccordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#AboutVersionAccordion" href="#AboutVersion1">
                            <i class="icon-chevron-down"></i>
                            <b>Version 01</b>
                        </a>
                        <span class="label label-default">Released</span>
                    </h4>
                </div>
                <div id="AboutVersion1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-center"><a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version01" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>Version 01 on Github</b></a></p>
                        <p>Version 01 of Simple SPA Demo has been branched on github as <a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version01" class="label label-primary">Version01</a></p>
                        <p><b>Requirements:</b></p>
                        <ul>
                            <li>Basic SPA with CURD operations for Customer Model object</li>
                            <li>ListView, EditView & CreateView</li>
                        </ul>
                        <p><b>Packages:</b></p>
                        <ul class="list-group">
                            <li class="list-group-item">                                
                                .Net Framework
                                <span class="badge">4.5</span>
                            </li>
                            <li class="list-group-item">angularjs<span class="badge">1.2.0-RC2</span></li>
                            <li class="list-group-item">Antlr<span class="badge">3.5.0.2</span></li>
                            <li class="list-group-item">bootstrap<span class="badge">3.0.0</span></li>
                            <li class="list-group-item">elmah.corelibrary<span class="badge">1.2.2</span></li>
                            <li class="list-group-item">Elmah.MVC<span class="badge">2.1.1</span></li>
                            <li class="list-group-item">FontAwesome<span class="badge">3.2.1</span></li>
                            <li class="list-group-item">jQuery<span class="badge">2.0.3</span></li>
                            <li class="list-group-item">Microsoft.AspNet.Mvc<span class="badge">5.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.Razor<span class="badge">3.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.Web.Optimization<span class="badge">1.1.1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.WebApi<span class="badge">5.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.WebApi.Client<span class="badge">5.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.WebApi.Core<span class="badge">5.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.WebApi.WebHost<span class="badge">5.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.AspNet.WebPages<span class="badge">3.0.0-rc1</span></li>
                            <li class="list-group-item">Microsoft.Web.Infrastructure<span class="badge">1.0.0.0</span></li>
                            <li class="list-group-item">Modernizr<span class="badge">2.6.2</span></li>
                            <li class="list-group-item">Newtonsoft.Json<span class="badge">5.0.6</span></li>
                            <li class="list-group-item">toastr<span class="badge">2.0.1</span></li>
                            <li class="list-group-item">WebGrease<span class="badge">1.5.2</span></li>
                            <li class="list-group-item">WebActivatorEx<span class="badge">2.0.3</span></li>
                            <li class="list-group-item">EntityFramework<span class="badge">6.0.0-rc1</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#AboutVersionAccordion" href="#AboutVersion2">
                            <i class="icon-chevron-down"></i>
                            <b>Version - 02</b>
                        </a>
                        <span class="label label-default">In Progress</span>
                    </h4>
                </div>
                <div id="AboutVersion2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-center"><a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version02" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>Version 02 on Github</b></a></p>
                        <p>Version 02 of Simple SPA Demo has been branched on github as <a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version02" class="label label-primary">Version02</a></p>
                        <p><b>Requirements:</b></p>
                        <ul>
                            <li>Sorting & Filtering options to list view</li>
                            <li>Client side cashing using locale storage</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#AboutVersionAccordion" href="#AboutVersion3">
                            <i class="icon-chevron-down"></i>
                            <b>Version - 03</b>
                        </a>
                        <span class="label label-default">Planned</span>
                    </h4>
                </div>
                <div id="AboutVersion3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-center"><a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version03" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>Version 03 on Github</b></a></p>
                        <p>Version 03 of Simple SPA Demo has been branched on github as <a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version03" class="label label-primary">Version03</a></p>
                        <p><b>Requirements:</b></p>
                        <ul>
                            <li>Converting scripts to Typescript.</li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#AboutVersionAccordion" href="#AboutVersion4">
                            <i class="icon-chevron-down"></i>
                            <b>Version - 04</b>
                        </a>
                        <span class="label label-default">Planned</span>
                    </h4>
                </div>
                <div id="AboutVersion4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-center"><a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version04" target="_blank" class="btn  btn-large btn-default"><i class="icon-github"></i> <b>Version 04 on Github</b></a></p>
                        <p>Version 04 of Simple SPA Demo has been branched on github as <a href="https://github.com/pbdesk/Simple.SPA.Demo/tree/Version04" class="label label-primary">Version04</a></p>
                        <p><b>Requirements:</b></p>
                        <ul>
                            <li>Adding Validations</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


@section Scripts {

}